@use "sass:math";

$font-size: 30px;
$font-stack: $font-size "Century Gothic", Futura, sans-serif;
$back-color: #fff;

$square-font-size: $font-size * 2;
$square-size: math.round($square-font-size * 1.5);

@mixin flex($flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
}

body {
    font: $font-stack;
    margin: $font-size * 2;
}

ol, ul {
    padding-left: $font-size * 2;

    li > button{
        font-size: $font-size - 2;
        min-width: $font-size * 10;
        text-align: left;
    }
}

.status {
    margin-bottom: 10px;
}

.square {
    $border-size:  math.round($font-size / 10);
    background: $back-color;

    border: $border-size solid #999;
    float: left;
    font-size: $square-font-size;
    font-weight: bold;

    line-height: $square-size;
    height: $square-size;
    width: $square-size;

    margin-right: -$border-size;
    margin-top: -$border-size;
    padding: 0;
    text-align: center;
}

.game {
    @include flex(row);
}

.main {
    @include flex(column);
}

.game-status {
    margin-bottom: $font-size + 1px;
}

.game-steps {
    margin-left: 20px;
    p {
        margin-left: 30px;
        margin-block-start: 0;
    }
}
